<p>
  <%=t :tl_remote_ip_settings %>
</p>
<p>
  <label>Remote IP match</label>
  <%= text_area_tag 'settings[remote_ip_match]', @settings['remote_ip_match'], :size => "20x5" %>
</p>
<% statuses = IssueStatus.find(:all, :order => 'position') %>
<p>
  <label>Time statuses</label>
  <%= select_tag 'settings[status_ids]', options_for_select(statuses.collect {|s| [s.name, s.id.to_s]}, @settings['status_ids']), :multiple => true %>
</p>
